{{ define "main" }} {{ $category := "" }} {{ with .Params.category }} {{
$category = . }} {{ end }}
<main class="song {{ lower $category}}">
  <header class="header">
    <h1 class="header__title">{{ .Title }}</h1>
    <p class="header__subtitle">{{ .Page.Param "subtitle" }}</p>
  </header>
  <section class="content">{{ .Content }}</section>
</main>
{{ end }} {{ define "player" }} {{ with .Resources.Get "audio" }} {{ partial
"player.html" . }}
<link rel="prefetch" href="{{ .RelPermalink }}" />
{{ end }} {{ end }}
